body {
  color: #777777;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0px 20px;
  text-align: center;
}

.centered {
  margin: 0px auto;
  text-align: center;
}

.flagbg {
  height: 240px;
  width: 360px;
  padding: 4px;
  margin: 0px auto;
  text-align: center;
  background-color:#aaaaaa;
}

.sendButton {
  margin: 0px auto;
  text-align: center;
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
