<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GwtFlags.html</welcome-file>
  </welcome-file-list>
  <!-- Servlets -->
  <servlet>
  	<servlet-name>FlagService</servlet-name>
  	<servlet-class>com.scrontch.flags.server.FlagServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FlagService</servlet-name>
  	<url-pattern>/gwtflags/FlagService</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SvgFileService</servlet-name>
  	<servlet-class>com.scrontch.flags.server.SvgFileService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SvgFileService</servlet-name>
  	<url-pattern>/gwtflags/SvgFileService</url-pattern>
  </servlet-mapping>

</web-app>
